@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@layer components{
  .item-Nav{
    @apply px-2 py-1 m-2;
  }

  .buttonPrimary{
    @apply border-none px-4 py-1 m-2 rounded-lg;
  }

  .buttonPrincipal{
    @apply border-none py-2 px-8 m-4 rounded-lg;
  }

  .division{
    @apply text-center min-h-[400px] py-15 px-5 ;
  }

  .title{
    @apply text-5xl font-bold mb-4;
  }

  .title2{
    @apply text-4xl font-bold mb-4;
  }

  .title3{
    @apply text-2xl font-bold mb-4;
  }

  .parrafos{
    @apply max-w-[70%] mx-auto my-5 text-lg;
  }

  .textoNormal{
    @apply text-lg text-slate-700;
  }

  .sectionFooter{
    @apply px-2 py-4;
  }

  .sectionFooterLinks{
    @apply block text-sm mb-1 text-slate-700;
  }

  .inputStyle{
    @apply border px-2 rounded-lg w-[250px] border-slate-400 h-[40px];
  }
}